<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>newSentinel</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/assets/css/materialize.min.css"> {{!-- jQuery --}}
    <script src="/assets/js/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="/assets/js/materialize.min.js"></script> {{!-- Style.css --}}
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">New Sentinel</a>

            </div>
        </nav>
    </header>



    {{{body}}}
    <script type="text/javascript">
        // On Click for Articles
        $(document).on("click", ".articles", function (event) {
            alert("If you give me an A, I'll be your best friend");
        })
    </script>
    <footer>
        © 2018 Copyright Mark Powalisz
    </footer>
</body>

</html>