<main class='container'>

    <div id='articles'>
        {{#each articles}}
        <p class="articles">{{title}}
            <br>{{link}}</p>
        {{/each}}
    </div>
    
    <div id='notes'>
        {{#each notes}}
        <p class="notes">{{note}}</p>
        {{/each}}
    </div>

</main>