<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>newSentinel</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="../../assets/css/materialize.min.css"> {{!-- jQuery --}}
    <script src="../../assets/js/jquery.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="../../assets/js/materialize.min.js"></script>

    <link rel="stylesheet" href="../../assets/css/style.css">
</head>
<header>
    <div class='navbar-fixed'>
        The New Sentinel
    </div>
</header>

{{{body}}}

<footer>
    <div class='footer'>
        
    </div>
</footer>

</html>