html {
  position: relative;
  min-height: 100%;
}

.nav-wrapper {
  background: royalblue;
}

.brand-logo {
  margin-left: 50px;
}

#scrape {
  float: right;
  margin-right: 20px;
}

body {
  background: grey;
  margin: 0 0 40px 0;
}

#notes {
  background: white;
  margin-top: 10px;
}

.navbar-fixed {
  text-align: center;
}

footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  background: black;
  color: white;
}
