.nav-wrapper{
    background: royalblue;
}

.brand-logo {
    margin-left: 50px;
}

#scrape {
    float: right;
    margin-right: 20px;
}

body {
    background:grey;
}

#notes {
    background: white;
    margin-top: 10px;
}

.navbar-fixed {
    text-align: center;
}

footer {
    text-align: center;
}